.logo {
  text-align: center;
  color: rgb(255, 51, 187);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 65%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-bottom-color: gold;
  
}

.words {
  color: black;
  text-align: center;

}

body {
  background-color: rgb(61, 156, 250);
}